.page-body {
  font-family: sans-serif;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1280px;
}
.title {
  font-size: 80px;
  font-weight: 400;
  line-height: 94px;
}
.title-link {
  color: #000000;
}
.accent-color {
  color: #4bcaff;
}
.navigation {
}
.navigation-menu {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;
  align-items: center;

  width: 1283px;
  height: 72px;
  background-color: #35444f;
}
.nav-item {
  padding: 22px;
  border: 1px solid #ffffff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}
.nav-link {
  color: #ffffff;
}

/* ============ EDN HEADER ========= */
.page-main {
}
.content-list {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  flex-wrap: wrap;
}
.left-menu {
  border: 1px solid #000000;
  width: 344px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
}

.left-menu-link {
  width: 341px;
  height: 81px;
  color: #485863;
  padding-top: 26px;
  padding-left: 43px;
}

/* ---------------------------------------------------- */
.top-img {
  width: 885px;
  height: 529px;
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.top-logo {
  transition: 1s;
}

.text {
  margin-top: 48px;
  margin-left: 395px;
  width: 885px;
  height: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
/* -------------------------- Footer------------ */
.footer {
  width: 1280px;
  height: 73px;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 74px;
}
.footer-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  align-items: center;
}
.footer-item {
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  padding-right: 20px;
}
.footer-link {
  margin-left: 10px;
  color: #0c1927;
}
.footer-copy {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-left: 80px;
}

/* ============ hover============ */
.nav-item:hover {
  background-color: #222f3a;
}
.left-menu-link:hover {
  background-color: #dbdbdb;
  padding: 26px 0px 0px 100px;
  transition: 1s;
  color: #000000;
  
}
.top-logo:hover {
  transform: scale(1.3);
}
.footer-link:hover {
  color: #3181a6;
  text-decoration: underline;
}
